params.NGPUS = 2
gpu_list = (0..(params.NGPUS-1)).join(',')
process.executor = "slurm"
executor.queueSize = 32

process {
    withLabel: 'with_gpus' {
        time = '24h'
        queue = "gpu"
        clusterOptions = "--gres=gpu:2"
        containerOptions = "--gpus \'\"device=${gpu_list}\"\'"
    }
}